/* --------------- GENERAL SETUP --------------- */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Prompt', sans-serif;
  font-weight: 700;
  color: #002C59;
}

h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.img-responsive img {
  width: 100%;
  height: auto;
}

.btn-dolormed {
  background-color: #cddc18 !important;
  color: white !important;
  border-radius: 350px;
  padding: 12px 5%;
  font-weight: 700;
  border: none !important;
  text-align: center;
}

.btn-dolormed:hover {
  background-color: #002C59 !important;
  color: white !important;
  font-weight: 700;
  border: none;
}

#map {
  width: 100%;
  height: 300px;
  background-color: grey;
}

.info-contacto{
    padding: 5% 0 5%;
}

.list {
  list-style-type: none;
}

.list.contacto li:first-child {
  margin-top: 12px;
}

.list.contacto li {
  padding-bottom: 18px;
}




/* --------------- MENU --------------- */

header{
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
}

.header-logo{
  max-width: 170px;
}

.top-bar, .top-bar ul {
  background-color: transparent;
}

.topbar-responsive {
  padding: 1rem 1.5rem;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
  width: 180px;
  background: transparent;
}

.topbar-responsive .menu {
  background: transparent;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #2b4061;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  background-color: #cddc18;
  padding: 12px 28px;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover, .button.hollow {
  color: #2b4061;
  border-color: #cddc18;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

/* ----------- ALTERNATIVE MENU ----------- */

  .top-bar-regular .menu a {
    color: #002C59;
    transition: color 0.15s ease-in;
  }

  .top-bar-regular .menu a:hover {
    color: #B5CC40;
  }

/* --------------- FOOTER --------------- */

footer {
  padding: 4% 0;
}

footer .topbar-responsive .menu a {
  color: #002C59;
  transition: color 0.15s ease-in;
}

footer .topbar-responsive .menu a:hover {
  color: #B5CC40;
}



footer .menu-icon::after {
  background: #002C59;
  box-shadow: 0 7px 0 #002C59, 0 14px 0 #002C59;
}


/* --------------- HOME --------------- */

    #first-vh{
      height: 100vh;
      background-color: #002C59;
    }

    /* -------- SERVICES CARDS ------- */

    .bg-contain {
      background-image: url(../assets/img/bg-doctor-example.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    #dolormed-services .services-container {
      margin-top: 2%;
    }

    #dolormed-services {
      padding: 48px 0;
    }

    #dolormed-services .card {
      background-color: #F8F8F8;
      border: none;
      transition: .4s ease;
    }

    #dolormed-services .card:hover {
      background-color: #B5CC40;
      transform: scale(1.05);
    }

    #dolormed-services .card:hover h5{
      color: #fff;
    }

    #dolormed-services .card h5{
      text-align: center;
      width: 90%;
      margin: auto;
      color: #002C59;
    }


/* --------------- ANIMATIONS --------------- */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}
